html {
  box-sizing: border-box;
}
*,*::before,*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
}
.wave-container {
  position: relative;
  padding: 40px 140px 0 140px;
  background: #3A6BE8;
  color: #FFF;
  text-align: center;
  z-index: 9;
}
#home-page{
  position: relative;
}

h1 {
  font-size: 4rem;
}
h2{
  font-size: 1.4rem;
}
.main-heading{
  margin-top: 30px;

  text-align: left;
}
.main-para1{

  text-align: left;
  font-weight: normal;

}
.main-para2{
  text-align: left;
  font-weight: normal;
  margin-top: 30px;

}
p {
  font-size: 1rem;
}
svg{
  position: relative;
  z-index: -2;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
}
.submitbutton{
  float: left;
   background:white;
   border-style:none;
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
   height: 40px;
   width:100px;
   background-color: orange;
   color: white;
   box-shadow: 0 3px 5px rgba(0,0,0,0.15);
}

.email{
  position: relative;
  z-index: 2;
}

.company-name{
  font-size: 2.5rem;
}

.navbar-item {
  padding: 0 28px;
  text-align: center;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}
.mainimg{
  margin: 20px;
  width: 100%;
  z-index: 9;
  position: absolute;
  -webkit-filter: drop-shadow(5px 5px 5px #222);

}

@media screen and (max-width: 768px)
  {  .mainimg { display: none;}}

.laptop{
  display: flex;
  justify-content: center;
  z-index: 3;
}
.col-lg-6
{
  padding-left: 0px;
  padding-right: 0px;
}
.menu{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.linkedinlogo{
padding-right: 0;
  margin-left: 0;
  padding-left: 0;
}
.fblogo{
  margin-right: 0;
  padding-right: 10px;
}


/*Second Part*/
#second-part{
  margin: 0 100px 50px 100px;
  justify-content: center;

}
h3{
position: relative;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  font-size: 3rem;

}

.card-p{
  font-size: 20px;
}

.card1{
  background-color: #45DF6C
}
.card2{
  background-color: #F9B330
}
.card3{
  background-color: #C53DF6
}
.col-lg-4{
  justify-content: center;
display: flex;
}
.flip-card {
  margin-bottom: 20px;
  margin-right: 50px;
  height: 250px;
  width: 250px;
  color: white;
  justify-content: center;
  text-align: center
  box-sizing: border-box;
  border-radius: 50px;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);


}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  border-radius: 50px;
-webkit-filter: drop-shadow(5px 5px 5px #222);
  color: white;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

/* Style the back side */
.flip-card-back {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  color: white;
  vertical-align: middle;
  border-radius: 50px;
  transform: rotateY(180deg);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
}
